
@media screen and (max-width: 3000px) {

  .home_main {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;

    background-repeat: no-repeat;
    background-size: 100%;

    background: url("~@/assets/bg.png");
  }

  .map{
    position: absolute;
    left: -50px;
    top: -25px;
    width: 100%;
    height: 100%;
    opacity: 50%;
  }

  .sidebar{
    position: absolute;

    left: 1580px;
    top: 20px;

    background: white;
    width: 335px;
    height: 1050px;

    border-radius: 20px;

    overflow-y: scroll;
    overflow: hidden;
  }

  .menu-header{
    padding-left: 40px;
  }

  ul.menu-list{

    position: relative;
    top: 50px;
    left:0px;
    width: 100%;
    height: 810px;

    padding-top: 30px;
    list-style-type: none;
    background: white;
    border-radius: 30px 30px 0 0;

    overflow-y: auto;

  }

  ul.type-list{
    position: relative;
    top: 50px;
    left: 0px;
    width: 100%;
    height: 815px;

    padding: 10px;
    padding-top: 60px;
    margin-top:10px;

    list-style-type: none;
    background: white;
    border-radius: 30px 30px 0 0;

    overflow-y: auto;

  }

  .menu-item{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
  }


  .type-item{
    display: flex;
    flex-direction: row;
    padding-left:0px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .type-icon{
    height: 30px;
    width: 30px;
    margin-left: 10px;
    margin-top: 8px;
    line-height: 48px;

  }

  .type-name{
    height: 46px;
    width: 220px;
    padding-rignt: 0;
    line-height: 48px;
    padding-left: 10px;
    color: #8F8F8F;
    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
  }

  .gov{
    font-size: 12px;
  }


  .menu-active .type-name{
    color: white;

  }

  .menu-index{

    margin-top: 3px;
    width: 14px;
    height: 14px;
    background: #F16D48;
    opacity: 0.7;
    color: white;

    border-radius: 10px;
    text-align: center;
    font-size: 10px;
    line-height: 14px;;
  }

  .menu-content{
    padding-left: 10px;
    width: 250px;
  }



  .menu-title{
    font-size: 15px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    line-height: 20px;
  }

  .menu-desc{
    font-size: 13px;
    font-family: PingFangSC-Light, PingFang SC;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.4);
    line-height: 16px;
    margin-top: 5px;
  }


  .type-content{
    /* background: #F16D48; */
    border-style: solid;
    border-color: #F16D48;
    color: #808080;
    border-width: 1.5px;
    margin-top: 5px;
    margin-bottom: 8px;
    width: 100%;
    height: 48px;
    border-radius: 23px;
    flex-wrap: wrap;
    display: flex;
  }

  .menu-active .type-content{
    background: #F16D48;
    color: white;
    margin-top: 5px;
    margin-bottom: 8px;
    width: 100%;
    height: 48px;
    border-radius: 23px;
    padding-right: 25px;
    flex-wrap: wrap;
    display: flex;
  }



  .center{
    text-align: center;
    width: 400px;
  }


  .flag{
    left: 767px;
    top: 345px;
  }


  .buildings{
    position: absolute;
  }
  .base{
    z-index: 99;
  }

  .b1  { left: 162px;  top: 87px;  width: 214px; height: 226px;}
  .b2  { left: 78px;  top: 558px; width: 324px; height: 306px}
  .b3  { left: 22px;   top: 330px; width: 266px; height: 278px;}
  .b4  { left: 363px;   top: 240px; width: 315px; height: 284px;}
  .b5  { left: 859px;  top: 794px; width: 236px; height: 196px;}
  .b6  { left: 1102px;  top: 629px; width: 242px; height: 277px;}
  .b7  { left: 1370px;  top: 582px; width: 198px; height: 169px;}
  .b8  { left: 1201px;  top: 451px; width: 212px; height: 218px;}
  .b9  { left: 1328px;  top: 431px; width: 186px; height: 164px;}
  .b10 { left: 841px;  top: 44px; width: 191px; height: 209px;}
  .b11 { left: 679px; top: 153px; width: 200px; height: 192px;}
  .b12 { left: 821px; top: 155px; width: 222px; height: 280px;}
  .b13 { left: 1061px; top: 26px; width: 212px; height: 222px;}
  .b14 { left: 734px; top: 407px; width: 282px; height: 340px;}
  .b15 { left: 856px;  top: 12px;  }
  .b16 { left: 894px;  top: 285px; }
  .b17 { left: 745px;  top: 165px; }
  .b18 { left: 652px;  top: 12px;  }
  .b19 { left: 1032px; top: 113px; }

  .buildings .bimg{
    position: relative;

    left: 0px;
    top: 0px;

    width: 100%;
    height: 100%;

    z-index: 10;
    /* background: tomato; */
  }

  .building-tag{
    position:absolute;

    text-align: center;
    display: flex;

    height: 75px;
    line-height: 75px;

    background: url(~@/assets/community/poi_tag.png);
    background-repeat: no-repeat;
    background-size: 100% 68px;

    z-index: 1000;

    padding-right: 20px;
    text-align: center;

  }

  .gov-tag{
    background: url(~@/assets/community/poi_tag_c.png);
    background-repeat: no-repeat;
    background-size: 100% 68px;
  }

  .reverse{
      background: url(~@/assets/community/poi_tag_r.png);
      background-repeat: no-repeat;
      background-size: 100% 68px;
      line-height: 68px;
      padding-top: 8px;
  }



  .building-tag .tag_name{
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-size: 14px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 500;
    color: #8F8F8F;

    padding-top: 3px;
    padding-right: 3px;
    margin-left: 60px;
    /* margin-top:10px; */
    vertical-align: middle;
    height: 60px;
  }



  .tag_name p{
    line-height: 20px;
    height: 20px;
    margin: 0 auto;
  }

  .bt0{
    top: -65px;
    left: 25px;
  }

  .bt1{
    top: -5px;
    left: 0px;
    width: 230px;
  }

  .bt2{
    top: -20px;
    left: 0px;
    z-index: 1000;
   }
  .bt3{
    top: 50px;
    left: 0px;
  }
  .bt4{
    top: 25px;
    left: 40px;
  }

  .bt20{
    top: 40px;
    left: 70px;
  }

  .bt5{
    top: 180px;
    left: 0px;
  }
  .bt6{
    top: 75px;
    left: -50px;
  }
  .bt7{
    top: -50px;
    left: 20px;
  }
  .bt8{
    top: 250px;
    left: 40px;
  }
  .bt9{
    top: 120px;
    left: 0px;
  }
  .bt10{
    top: 0px;
    left: 60px;
  }

  .bt11{
    top: 0px;
    left: 0px;
  }
  .bt12{
    top: -10px;
    left: -20px;
  }
  .bt121{
    top: -82px;
    left: -25px;
  }
  .bt13{
    top: -50px;
    left: 25px;
  }
  .bt14{
    top: 0px;
    left: 0px;
  }
  .bt15{
    top: -70px;
    left: -10px;
  }
  .bt16{
    top: 20px;
    left: 0px;
  }
  .bt17{
    top: 70px;
    left: 40px;
  }

  .bt18{
    top: 10px;
    left: 40px;
  }

  .bt19{
    top: 45px;
    left: 5px;
  }

  .bt21{
    top: 90px;
    left: 10px;
  }

  .bt22{
    top: 10px;
    left: 10px;
  }

  .bt23{
    top: -10px;
    left: -40px;
  }


  .pulsating-circle {
    position: absolute;

    display: flex;

    right: -5px;
    top: -10px;

    /* transform: translateX(-10%) translateY(-50%); */

    text-align: center;
    z-index: 1;

    color: white;
  }

  .reverse .pulsating-circle{
    right: -5px;
  }

  .pulsating-circle:before {
    content: '';
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    box-sizing: border-box;
    margin-left: -10px;
    margin-top: -10px;
    border-radius: 150%;
    background-color: white;
    animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  }

  .pulsating-circle:after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: #F16D48;
    animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
  }



  .inner {
    position: relative;
    z-index: 100;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30px;
  }


  .inner > p {
    /* line-height: 50px; */
    font-size: 14px;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 19px;
    margin-top: 45px;

  }

  .base{
    position:absolute;
    z-index: 100;
    width: 50px;
    height:43px;
  }


  .base1{
    left: 658px;
    top: 490px;

  }


  .base2{
    left:1087px;
    top: 467px;

  }

  .base5{
    left:1087px;
    top: 467px;

  }



  .base3{
    left: 918px;
    top: 406px;

  }


  .bridge{
    left: 1310px;
    top: 319px;

    width: 108px;
    height: 77px;
  }

  .tower{
    left: 1420px;
    top: 260px;
    width: 72px;
    height: 106px;

  }

  .base4{
    left: 1087px;
    top: 467px;
  }


  .base5{
    left: 216px;
    top: 319px;

  }


  .base6{
    left: 1468px;
    top: 431px;
  }

  .base7{
    left: 215px;
    top: 318px;
  }

  .tag{
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 52px;
    line-height: 52px;

    padding-right: 5px;

    font-size: 13px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    line-height: 17px;


    text-align: center;
    color: #797979;

    background-image: url(~@/assets/community/tag@2x.png);
    background-repeat: no-repeat;
    background-size: 100px 52px;
    min-width: 110px;
    z-index: 200;
  }

  .tag1{

    left: 190px;
    top: 265px;

  }

  .tag2{

    left: 633px;
    top: 438px;

  }


  .tag3{
    left: 893px;
    top: 359px;

  }


  .tag4{

    left: 1265px;
    top: 260px;

    min-width: 140px;
    background-size: 140px 52px;
  }


  .tag5{

    left: 1062px;
    top: 418px;

  }


  .tag6{

    left: 1443px;
    top: 384px;

  }


  .tag7{

    left: 1385px;
    top: 215px;

    min-width: 140px;
    background-size: 140px 52px;
  }


  .pin{
    position: absolute;
    left: 190px;
    top:608px;
  }

  .tab-content{
    position: absolute;

    left: 0;
    top:0;

    width: 1350px;
    height: 1050px;

    background: #F16D48;
  }

  .tag_type{

    position: absolute;

    width: 35px;
    height: 35px;

    top: 14px;
    left: 20px;

  }


  .tag .tag_type{
    position: absolute;

    width: 30px;
    height: 30px;

    top: 12px;
    left: 20px;
  }

  .tag p{
    padding-left: 40px;
  }

  .reverse .tag_type{
    top: 20px;
  }

  /* Style the tabs */
  .tabs {
    overflow: hidden;
    display: flex;
  }

  .tabs ul {
      list-style-type: none;
      margin-left: 20px;
  }

  .tabs a{
    flex: 1;
    cursor: pointer;
    padding: 12px 24px;
    transition: background-color 0.2s;
    border-right: none;

    font-weight: bold;
    text-align: center;
    font-family: PingFangSC-Medium, PingFang SC;


    background-color: #fff;
    color: black;
  }


  .tabs a:last-child {
    border-right: 1px solid #ccc;
  }

  /* Change background color of tabs on hover */
  .tabs a:hover {
      /* background-color: #aaa; */
      /* color: #fff; */
  }

  /* Styling for active tab */
  .tabs a.active {
    background-color: #F16D48;
    color: #fff;
    cursor: default;
  }

  /* Style the tab content */
  .tabcontent {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: none;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */

    background: #F16D48;
  }

  .tab-desc{
    position: absolute;

    font-size: 18px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #FDFDF8;
    line-height: 25px;
    margin-left: 20px;
  }

  .tab-title{
    width: 256px;
    height: 45px;
    margin-left: 20px;

    font-size: 32px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #FDFDF8;
    line-height: 45px;
  }


  /* Detail View */

  .detail-panel{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: -40px;
    left: 180px;
    width: 464px;
    height: 434px;

    background-repeat: no-repeat;
    background: url(~@/assets/community/detail-bg.png);
    background-size: 468px 434px;

    z-index: 5000;
  }

  .detail-title{
    text-align: center;

    width: 468px;
    margin-top: 80px;

    font-size: 25px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.9);
  }

  .detail-line{
    display: flex;
    width: 468px;
    height: 40px;
    line-height: 40px;

    padding-left: 65px;
  }

  .detail-name{
    line-height: 40px;
    padding-left: 10px;
    width: 80px;
    text-align: justify;
    font-weight: bold;
  }


  .detail-icon{
    width: 25px;
    height: 25px;
    margin-top: 7px;
  }

  .detail-content{
    font-size: 15px;
    font-family: PingFangSC-Regular, PingFang SC;
  }

  .detail-title p{
    line-height: 30px;
  }

  .dp6 p,
  .dp8 p,
  .dp10 p,
  .dp11 p,
  .dp12 p,
  .dp19 p{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 40px;
  }

  .dp6{
    position: absolute;
    top: -170px;
    left: -400px;


    background-repeat: no-repeat;
    background: url(~@/assets/community/detail-bg.png);
    background-size: 468px 434px;
  }
  .dp7{
    position: absolute;
    top: -120px;
    left: -400px;

    background-repeat: no-repeat;
    background: url(~@/assets/community/detail-bg.png);
    background-size: 468px 434px;
  }

  .dp8{
    position: absolute;
    top: -120px;
    left: -400px;
    background-repeat: no-repeat;
    background: url(~@/assets/community/detail-bg.png);
    background-size: 468px 434px;
  }

  .dp91{
    position: absolute;

    left: -350px;
    background-repeat: no-repeat;
    background: url(~@/assets/community/detail-bg.png);
    background-size: 468px 434px;
  }

  .dp10{
    position: absolute;
    top: 0px;
    left: -250px;
    background-repeat: no-repeat;
    background: url(~@/assets/community/detail-bg.png);
    background-size: 468px 434px;
  }

  .dp11{
    position: absolute;
    top: 10px;
    left: -250px;
    background-repeat: no-repeat;
    background: url(~@/assets/community/detail-bg.png);
    background-size: 468px 434px;
  }


  .dp91{
    position: absolute;
    top: 10px;
    left: -250px;
    background-repeat: no-repeat;
    background: url(~@/assets/community/detail-bg.png);
    background-size: 468px 434px;
  }


  .dp12{
    position: absolute;
    top: 0px;
    left: 100px;
    background-repeat: no-repeat;
    background: url(~@/assets/community/detail-bg.png);
    background-size: 468px 434px;
  }

}
