.content{
  background: white;
}


@media screen and (min-width: 3000px) {

  .home_main {
    position: relative;
    display: flex;
    width: 3840px;
    height: 2160px;

    background-repeat: no-repeat;
    background-size: 3840px 2160px;

    background: url("~@/assets/bg_2x.png");
  }

  .map{
    position: absolute;
    left: -100px;
    top: -50px;
    width: 100%;
    height: 100%;
    opacity: 50%;
  }

  .sidebar{
    position: absolute;

    left: 3160px;
    top: 40px;

    background: white;
    width: 670px;
    height: 2100px;

    border-radius: 40px;

    overflow-y: scroll;
    overflow: hidden;
  }

  .menu-header{
    padding-left: 80px;
  }

  ul.menu-list{

    position: relative;
    top: 100px;
    left:0px;
    width: 100%;
    height: 1620px;

    padding-top: 60px;
    list-style-type: none;
    background: white;
    border-radius: 60px 60px 0 0;

    overflow-y: auto;

  }

  ul.type-list{
    position: relative;
    top: 100px;
    left: 0px;
    width: 100%;
    height: 1630px;

    padding: 20px;
    padding-top: 120px;
    margin-top:20px;

    list-style-type: none;
    background: white;
    border-radius: 60px 60px 0 0;

    overflow-y: auto;

  }

  .menu-item{
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
  }


  .type-item{
    display: flex;
    flex-direction: row;
    padding-left:0px;
    margin-left: 20px;
    margin-right: 20px;
  }


  .type-content{
    /* background: #F16D48; */
    border-style: solid;
    border-color: #F16D48;
    color: #808080;
    border-width: 1.5px;
    margin-top: 10px;
    margin-bottom: 16px;
    width: 100%;
    height: 96px;
    border-radius: 46px;
    padding-right: 50px;
    flex-wrap: wrap;
    display: flex;
  }

  .menu-active .type-content{
    background: #F16D48;
    color: white;
    margin-top: 10px;
    margin-bottom: 16px;
    width: 100%;
    height: 96px;
    border-radius: 46px;
    padding-right: 50px;
    flex-wrap: wrap;
    display: flex;
  }

  .type-icon{
    height: 60px;
    width: 60px;
    margin-left: 20px;
    margin-top: 16px;
    line-height: 96px;
  }

  .type-name{
    height: 92px;
    width: 450px;
    line-height: 96px;
    padding-left: 20px;
    font-size: 28px;
    font-family: PingFangSC-Regular, PingFang SC;
  }

  .gov{
    font-size: 26px;
  }


  .menu-index{

    margin-top: 6px;
    width: 28px;
    height: 28px;
    background: #F16D48;
    opacity: 0.7;
    color: white;

    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    line-height: 28px;;
  }

  .menu-content{
    padding-left: 20px;
    width: 500px;
  }


  .menu-title{
    font-size: 30px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 1000;
    color: rgba(0, 0, 0, 0.6);
    line-height: 40px;
  }

  .menu-desc{
    font-size: 26px;
    font-family: PingFangSC-Light, PingFang SC;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.4);
    line-height: 32px;
    margin-top: 10px;
  }

  .center{
    text-align: center;
    width: 800px;
  }


  .flag{
    left: 1534px;
    top: 690px;
  }


  .buildings{
    position: absolute;
  }


  .b1  { left: 324px;  top: 174px;  width: 428px; height: 452px;}
  .b2  { left: 156px;  top: 1116px; width: 628px; height: 612px}
  .b3  { left: 44px;   top: 660px; width: 532px; height: 556px;}
  .b4  { left: 726px;   top: 480px; width: 630px; height: 568px;}
  .b5  { left: 1718px;  top: 1588px; width: 472px; height: 392px;}
  .b6  { left: 2204px;  top: 1238px; width: 484px; height: 554px;}
  .b7  { left: 2740px;  top: 1164px; width: 396px; height: 338px;}
  .b8  { left: 2402px;  top: 902px; width: 424px; height: 436px;}
  .b9  { left: 2656px;  top: 862px; width: 372px; height: 328px;}
  .b10 { left: 1682px;  top: 88px; width: 382px; height: 418px;}
  .b11 { left: 1358px; top: 306px; width: 400px; height: 384px;}
  .b12 { left: 1642px; top: 310px; width: 444px; height: 560px;}
  .b13 { left: 2122px; top: 52px; width: 424px; height: 444px;}
  .b14 { left: 1468px; top: 814px; width: 564px; height: 680px;}
  .b15 { left: 1712px;  top: 24px;  }
  .b16 { left: 1788px;  top: 570px; }
  .b17 { left: 1490px;  top: 330px; }
  .b18 { left: 1304px;  top: 24px;  }
  .b19 { left: 2064px; top: 226px; }

  .buildings .bimg{
    position: relative;

    left: 0px;
    top: 0px;

    width: 100%;
    height: 100%;

    z-index: 10;
    /* background: tomato; */
  }

  .building-tag{
    position:absolute;

    text-align: center;
    display: flex;

    height: 150px;
    line-height: 150px;

    background: url(~@/assets/community/poi_tag.png);
    background-repeat: no-repeat;
    background-size: 100% 136px;

    z-index: 1000;

    padding-right: 40px;
    text-align: center;

  }

  .gov-tag{
    background: url(~@/assets/community/poi_tag_c.png);
    background-repeat: no-repeat;
    background-size: 100% 136px;
  }

  .reverse{
      background: url(~@/assets/community/poi_tag_r.png);
      background-repeat: no-repeat;
      background-size: 100% 136px;
      line-height: 136px;
      padding-top: 16px;
  }

  .building-tag .tag_name{
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-size: 28px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 500;
    color: #8F8F8F;

    padding-top: 6px;
    padding-right: 6px;
    margin-left: 120px;
    /* margin-top:10px; */
    vertical-align: middle;
    height: 120px;
  }



  .tag_name p{
    line-height:40px;
    height: 40px;
    margin: 0 auto;
  }

  .bt0{
    top: -130px;
    left: 50px;
  }

  .bt1{
    top: -10px;
    left: 0px;
    width: 460px;
  }

  .bt2{
    top: -40px;
    left: 0px;
    z-index: 1000;
  }
  .bt3{
    top: 100px;
    left: 0px;
  }
  .bt4{
    top: 50px;
    left: 80px;
  }

  .bt20{
    top: 80px;
    left: 140px;
  }

  .bt5{
    top: 360px;
    left: 0px;
  }
  .bt6{
    top: 150px;
    left: -100px;
  }
  .bt7{
    top: -100px;
    left: 40px;
  }
  .bt8{
    top: 500px;
    left: 80px;
  }
  .bt9{
    top: 240px;
    left: 0px;
  }
  .bt10{
    top: 0px;
    left: 120px;
  }

  .bt11{
    top: 0px;
    left: 0px;
  }
  .bt12{
    top: -20px;
    left: -40px;
  }
  .bt121{
    top: -164px;
    left: -50px;
  }
  .bt13{
    top: -100px;
    left: 50px;
  }
  .bt14{
    top: 0px;
    left: 0px;
  }
  .bt15{
    top: -140px;
    left: -20px;
  }
  .bt16{
    top: 40px;
    left: 0px;
  }
  .bt17{
    top: 140px;
    left: 80px;
  }

  .bt18{
    top: 20px;
    left: 80px;
  }

  .bt19{
    top: 40px;
    left: 40px;
  }


  .bt21{
    top: 180px;
    left: 20px;
  }

  .bt22{
    top: 20px;
    left: 20px;
  }

  .bt23{
    top: -20px;
    left: -80px;
  }

  .pulsating-circle {
    position: absolute;

    display: flex;

    right: -10px;
    top: -20px;

    /* transform: translateX(-10%) translateY(-50%); */

    text-align: center;
    z-index: 1;

    color: white;
  }

  .reverse .pulsating-circle{
    right: -10px;
  }

  .pulsating-circle:before {
    content: '';
    position: absolute;
    display: block;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    margin-left: -20px;
    margin-top: -20px;
    border-radius: 150%;
    background-color: white;
    animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  }

  .pulsating-circle:after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: #F16D48;
    animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
  }



  .inner {
    position: relative;
    z-index: 100;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60px;
  }


  .inner > p {
    /* line-height: 50px; */
    font-size: 28px;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 38px;
    margin-top: 90px;

  }

  .base{
    position:absolute;
    z-index: 100;

  }


  .base1{
    left: 432px;
    top: 638px;

    width: 100px;
    height: 86px;
  }


  .base2{
    left: 1316px;
    top: 970px;

  }


  .base3{
    left: 1836px;
    top: 812px;

  }


  .bridge{
    left: 2620px;
    top: 638px;

  }


  .tower{
    left: 2840px;
    top: 520px;
    width: 144px;
    height: 212px;

  }

  .base4{
    left: 2174px;
    top: 934px;
  }


  .base5{
    left:2174px;
    top: 934px;

  }


  .base6{
    left: 2936px;
    top: 862px;
  }

  .base7{
    left: 430px;
    top: 636px;
  }


  .tag{
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: center;

    height:104px;
    line-height: 104px;

    padding-right: 10px;

    font-size: 26px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.6);
    line-height: 34px;


    text-align: center;
    color: #797979;

    background-image: url(~@/assets/community/tag@2x.png);
    background-repeat: no-repeat;
    background-size: 200px 104px;
    min-width: 220px;
    z-index: 200;
  }

  .tag1{

    left: 380px;
    top: 530px;

  }

  .tag2{

    left: 1266px;
    top: 876px;

  }


  .tag3{
    left: 1786px;
    top: 718px;

  }


  .tag4{

    left: 2610px;
    top: 530px;

    min-width: 280px;
    background-size: 280px 104px;
  }


  .tag5{

    left: 2124px;
    top: 836px;

  }


  .tag6{

    left: 2886px;
    top: 768px;

  }

  .tag7{


    left: 2770px;
    top: 430px;

    min-width: 280px;
    background-size: 280px 104px;
  }


  .pin{
    position: absolute;
    left: 380px;
    top:1216px;
  }

  .tab-content{
    position: absolute;

    left: 0;
    top:0;

    width: 2710px;
    height: 2100px;

    /* background: #F16D48; */
    background-color: #F16D48;
  }

  .tag_type{

    position: absolute;

    width: 70px;
    height: 70px;

    top: 28px;
    left: 40px;

  }


  .tag .tag_type{
    position: absolute;

    width: 60px;
    height: 60px;

    top: 25px;
    left: 40px;
  }

  .tag p{
    padding-left: 80px;
  }

  .reverse .tag_type{
    top: 40px;
  }

  /* Style the tabs */
  .tabs {
    overflow: hidden;
    display: flex;
    font-size: 28px;
  }

  .tabs ul {
      list-style-type: none;
      margin-left: 40px;
  }

  .tabs a{
    flex: 1;
    cursor: pointer;
    padding: 24px 18px;
    transition: background-color 0.2s;
    border-right: none;

    font-weight: bold;
    text-align: center;
    font-family: PingFangSC-Medium, PingFang SC;


    background-color: #fff;
    color: black;
  }


  .tabs a:last-child {
    border-right: 1px solid #ccc;
  }

  /* Change background color of tabs on hover */
  .tabs a:hover {
      /* background-color: #aaa; */
      /* color: #fff; */
  }

  /* Styling for active tab */
  .tabs a.active {
    background-color: #F16D48;
    color: #fff;
    cursor: default;
  }

  /* Style the tab content */
  .tabcontent {
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: none;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */

    background: #F16D48;
  }

  .tab-desc{
    position: absolute;

    font-size: 36px;
    font-family: PingFangSC-Regular, PingFang SC;
    font-weight: 400;
    color: #FDFDF8;
    line-height: 50px;
    margin-left: 40px;
  }

  .tab-title{
    width: 512px;
    height: 90px;
    margin-left: 40px;

    font-size: 64px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #FDFDF8;
    line-height:90px;
  }


  /* Detail View */

  .detail-panel{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: -40px;
    left: 180px;
    width: 924px;
    height: 868px;

    background-repeat: no-repeat;
    background: url(~@/assets/community/detail-bg.png);
    background-size: 936px 868px;

    z-index: 5000;
  }


  .detail-title{
    text-align: center;

    width: 936px;
    padding-top: 110px;
    padding-bottom: 30px;

    font-size: 50px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 1000;
    color: rgba(0, 0, 0, 0.9);
    line-height: 115px;
  }

  .detail-title p{
    line-height: 120px;
  }


  .detail-line{
    display: flex;
    width: 936px;
    height: 80px;


    line-height: 80px;
    padding-left: 130px;
  }

  .detail-name{
    line-height: 80px;
    padding-left: 20px;
    width: 160px;
    text-align: justify;
    font-weight: bold;

  }


  .detail-icon{
    width: 50px;
    height: 50px;
    margin-top: 14px;
  }

  .detail-content{
    font-size: 30px;
    font-family: PingFangSC-Regular, PingFang SC;
  }

  .detail-title p{
    line-height: 60px;
  }

  .dp6 p,
  .dp8 p,
  .dp10 p,
  .dp11 p,
  .dp12 p,
  .dp19 p{
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 90px;
  }

  .dp3{
    position: absolute;
    top: -40px;
    left: 180px;
    background-repeat: no-repeat;
    background: url(~@/assets/community/detail-bg.png);
    background-size: 936px 868px;
  }

  .dp4{
    position: absolute;
    top: -40px;
    left: 280px;
    background-size: 936px 868px;
  }

  .dp6{
    position: absolute;
    top: -340px;
    left: -800px;

    background-repeat: no-repeat;
    background: url(~@/assets/community/detail-bg.png);
    background-size: 936px 868px;
  }


  .dp7{
    position: absolute;
    top: -240px;
    left: -800px;

    background-repeat: no-repeat;
    background: url(~@/assets/community/detail-bg.png);
    background-size: 936px 868px;
  }

  .dp8{
    position: absolute;
    top: -240px;
    left: -800px;
    background-repeat: no-repeat;
    background: url(~@/assets/community/detail-bg.png);
    background-size: 936px 868px;
  }

  .dp9{
    position: absolute;
    /* top: 60px; */
    left: -700px;
    background-repeat: no-repeat;
    background: url(~@/assets/community/detail-bg.png);
    background-size: 936px 868px;
  }

  .dp10{
    position: absolute;
    top: 0px;
    left: -500px;
    background-repeat: no-repeat;
    background: url(~@/assets/community/detail-bg.png);
    background-size: 936px 868px;
  }

  .dp11{
    position: absolute;
    top: 20px;
    left: -500px;
    background-repeat: no-repeat;
    background: url(~@/assets/community/detail-bg.png);
    background-size: 936px 868px;
  }

  .dp91{
    position: absolute;
    top: 20px;
    left: -500px;
    background-repeat: no-repeat;
    background: url(~@/assets/community/detail-bg.png);
    background-size: 936px 868px;
  }

  .dp12{
    position: absolute;
    top: 0px;
    left: 200px;
    background-repeat: no-repeat;
    background: url(~@/assets/community/detail-bg.png);
    background-size: 936px 868px;
  }
}

