<template>
  <div class="home_main" @mousemove="ResetTimers()">
    <!-- <img class="map" src = "~@/assets/border_2x.png"> -->
    <div class="container">
    <transition name="slide-fade">
      <div v-if="menu" class="sidebar">
        <div id="tabs" class="container">

            <div class="tabs">
                <a v-on:click="activetab=1" v-bind:class="[ activetab === 1 ? 'active' : '' ]">分类</a>
                <a v-on:click="activetab=2" v-bind:class="[ activetab === 2 ? 'active' : '' ]">索引</a>
            </div>

            <div class="content">
                <div v-if="activetab === 1" class="tabcontent tabcontent1" @click="hideDetail();">
                  <div class="tab-desc">花园弄社区</div>
                  <h2 class="tab-title">我嘉·邻里中心</h2>
                  <div class="tab-desc">15分钟社区综合服务圈分类</div>
                  <ul class="type-list">
                    <li class="type-item" :class="[value === 'all' && 'menu-active']"   @click="showAll()">
                      <div class="type-content">
                        <div class="type-name center">显示全部</div>
                      </div>
                    </li>
                    <li class="type-item"  :class="[value === 'doctor' && 'menu-active']"  @click="showDoctor()">
                      <div class="type-content">
                        <img class="type-icon" v-if="value !='doctor'" src="~@/assets/community/doctor.png"/>
                        <img class="type-icon" v-if="value ==='doctor'"  src="~@/assets/community/doctor_w.png"/>
                        <div class="type-name">健康就医（4）</div>
                      </div>
                    </li>
                    <li class="type-item"  :class="[value === 'course' && 'menu-active']" @click="showCourse()">
                      <div class="type-content">
                        <img class="type-icon" v-if="value !='course'" src="~@/assets/community/course.png"/>
                        <img class="type-icon" v-if="value === 'course'"  src="~@/assets/community/course_w.png"/>
                        <div class="type-name">社区教育各项兴趣课程（1）</div>
                      </div>
                    </li>
                    <li class="type-item"  :class="[value === 'soccer' && 'menu-active']" @click="showSoccer()">
                      <div class="type-content">
                        <img class="type-icon" v-if="value !='soccer'" src="~@/assets/community/soccer.png"/>
                        <img class="type-icon" v-if="value === 'soccer'" src="~@/assets/community/soccer_w.png"/>
                        <div class="type-name">文化体育等服务（4）</div>
                      </div>
                    </li>
                    <li class="type-item"  :class="[value === 'care' && 'menu-active']" @click="showCare()">
                      <div class="type-content">
                        <img class="type-icon" v-if="value !='care'"  src="~@/assets/community/care.png"/>
                        <img class="type-icon"  v-if="value === 'care'"  src="~@/assets/community/care_w.png"/>
                        <div class="type-name">综合为老、日间照料服务（2）</div>
                      </div>
                    </li>
                    <li class="type-item"  :class="[value === 'dinner' && 'menu-active']" @click="showDinner()">
                      <div class="type-content">
                        <img class="type-icon" v-if="value !='dinner'"  src="~@/assets/community/dinner.png"/>
                        <img class="type-icon" v-if="value ==='dinner'"  src="~@/assets/community/dinner_w.png"/>
                        <div class="type-name">老年助餐服务(4)</div>
                      </div>
                    </li>
                    <li class="type-item"  :class="[value === 'consulting' && 'menu-active']" @click="showConsulting()">
                      <div class="type-content">
                        <img class="type-icon" v-if="value != 'consulting'"  src="~@/assets/community/consulting.png"/>
                        <img class="type-icon" v-if="value === 'consulting'"  src="~@/assets/community/consulting_w.png"/>
                        <div class="type-name">计生工作咨询服务(1)</div>
                      </div>
                    </li>
                    <!-- <li class="type-item"  :class="[value === 'crossing' && 'menu-active']" @click="showCrossing()">
                      <div class="type-content">
                        <img class="type-icon" v-if="value != 'crossing'"  src="~@/assets/community/red_crossing.png"/>
                        <img class="type-icon" v-if="value === 'crossing'"  src="~@/assets/community/red_crossing_w.png"/>
                        <div class="type-name">红十字相关服务</div>
                      </div>
                    </li> -->
                    <li class="type-item"  :class="[value === 'science' && 'menu-active']"  @click="showScience()">
                      <div class="type-content">
                        <img class="type-icon" v-if="value != 'science'"  src="~@/assets/community/science.png"/>
                        <img class="type-icon" v-if="value === 'science'"  src="~@/assets/community/science_w.png"/>
                        <div class="type-name gov">科普知识、科技体验与互动等（1）</div>
                      </div>
                    </li>
                    <li class="type-item"  :class="[value === 'government' && 'menu-active']" @click="showGovernment()">
                      <div class="type-content">
                        <img class="type-icon" v-if="value != 'government'"  src="~@/assets/community/government.png"/>
                        <img class="type-icon" v-if="value === 'government'"  src="~@/assets/community/government_w.png"/>
                        <div class="type-name gov">劳动民政医保等各项为民服务（1）</div>
                      </div>
                    </li>
                    <li class="type-item" :class="[value === 'no' && 'menu-active']"   @click="showNothing()">
                      <div class="type-content">
                        <div class="type-name center">清除选中</div>
                      </div>
                    </li>
                  </ul>
                </div>
                <div v-if="activetab === 2" class="tabcontent">
                  <div class="tab-desc">花园弄</div>
                  <h2 class="tab-title">我嘉·邻里中心</h2>
                  <div class="tab-desc">15分钟社区综合服务圈索引</div>
                  <ul class="menu-list">
                    <li class="menu-item" @click="toggleDetail(building.id)"  :key="building.id" v-for="building in buildings">
                      <div class="menu-index" v-if="building.id < 16"> {{building.id}}</div>
                      <div class="menu-index" v-else> {{building.id - 1}}</div>
                      <div class="menu-content">
                        <div class="menu-title">{{building.name}}</div>
                        <div class="menu-desc">{{building.address}}</div>
                      </div>
                    </li>
                  </ul>
                </div>
            </div>

        </div>


      </div>
    </transition>


    <transition-group name="slide-fade">

      <div v-if="show_building" v-bind:key="1" class="buildings b1">
        <div v-if="tags" class="building-tag bt0 gov-tag" @click="toggleDetail(91)">
          <img class="tag_type" src="~@/assets/community/committee.png">
          <div class="tag_name">
            <p>梅园社区居委会</p>
          </div>


        </div>
        <div v-if="(tags && doctor) || (detail == 1)" class="building-tag bt1"  @click="toggleDetail(1)">
          <img class="tag_type" src="~@/assets/community/doctor.png">
          <div class="tag_name">
            <p>梅园路社区卫生服务站</p>
          </div>
          <div class="pulsating-circle">
            <div class="inner">
              <p>1</p>
            </div>
          </div>
        </div>

        <img class="bimg"  src="~@/assets/community/1.png" alt srcset>

        <div class="detail-panel" v-if="detail == 1" @click="toggleDetail(1)">
            <div class="detail-title">
              <p>梅园路社区卫生服务站</p>
            </div>
            <div class="detail-content">
              <div class="address-line detail-line">
                <img class="detail-icon" src="~@/assets/community/address_icon.png"/>
                <div class="detail-name">地址</div>
                <div class="detail-content">梅园路300弄11号</div>
              </div>
              <div class="com-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/com_icon.png"/>
                <div class="detail-name">所在社区</div>
                <div class="detail-content">梅园</div>
              </div>
              <div class="service-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/service_icon.png"/>
                <div class="detail-name">服务类型</div>
                <div class="detail-content">配药、家庭医生、健康知识普及等</div>
              </div>
              <div class="distance-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/distance_icon.png"/>
                <div class="detail-name">步行距离</div>
                <div class="detail-content">774米</div>
              </div>
              <div class="phone-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/phone_icon.png"/>
                <div class="detail-name">电话</div>
                <div class="detail-content">59531257</div>
              </div>
            </div>
        </div>

        <div class="detail-panel" v-if="detail == 91" @click="toggleDetail(91)">
            <div class="detail-title">
              <p>梅园社区居委会</p>
            </div>
            <div class="detail-content">
              <div class="address-line detail-line">
                <img class="detail-icon" src="~@/assets/community/address_icon.png"/>
                <div class="detail-name">地址</div>
                <div class="detail-content">梅园路300弄11号</div>
              </div>
              <div class="com-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/com_icon.png"/>
                <div class="detail-name">所在社区</div>
                <div class="detail-content">梅园</div>
              </div>
              <div class="service-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/service_icon.png"/>
                <div class="detail-name">服务类型</div>
                <div class="detail-content">居委会</div>
              </div>
              <div class="distance-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/distance_icon.png"/>
                <div class="detail-name">步行距离</div>
                <div class="detail-content">774米</div>
              </div>
              <div class="phone-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/phone_icon.png"/>
                <div class="detail-name">电话</div>
                <div class="detail-content">59526708</div>
              </div>
            </div>
        </div>
      </div>

      <div v-if="show_building" v-bind:key="2" class="buildings b2" @click="onClickBuilding">

        <div v-if="tags && (course || detail == 2)" class="building-tag bt2"  @click="toggleDetail(2)">
          <img class="tag_type"  src="~@/assets/community/course.png">
          <div class="tag_name">
            <p>嘉定镇街道成人</p>
            <p>(社区)学校</p>
          </div>
          <div class="pulsating-circle">
            <div class="inner">
              <p>2</p>
            </div>
          </div>
        </div>

        <div class="detail-panel" v-if="detail == 2" @click="toggleDetail(2)">
            <div class="detail-title">
              <p>嘉定镇街道成人（社区）学校</p>
            </div>
            <div class="detail-content">
              <div class="address-line detail-line">
                <img class="detail-icon" src="~@/assets/community/address_icon.png"/>
                <div class="detail-name">地址</div>
                <div class="detail-content">清河路196号</div>
              </div>
              <div class="com-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/com_icon.png"/>
                <div class="detail-name">所在社区</div>
                <div class="detail-content">梅园</div>
              </div>
              <div class="service-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/service_icon.png"/>
                <div class="detail-name">服务类型</div>
                <div class="detail-content">文化体育等服务</div>
              </div>
              <div class="distance-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/distance_icon.png"/>
                <div class="detail-name">步行距离</div>
                <div class="detail-content">944米</div>
              </div>
              <div class="phone-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/phone_icon.png"/>
                <div class="detail-name">电话</div>
                <div class="detail-content">59538041</div>
              </div>
            </div>
        </div>

        <div v-if="tags && (soccer || detail == 3)" class="building-tag bt3" @click="toggleDetail(3)">
          <img class="tag_type"  src="~@/assets/community/soccer.png">
          <div class="tag_name">
            <p>嘉定镇街道文化体</p>
            <p>育服务中心</p>
          </div>
          <div class="pulsating-circle">
            <div class="inner">
              <p>3</p>
            </div>
          </div>
        </div>

        <img class="bimg"  :class="[ !soccer && !course && detail != 3 && detail != 2 && 'trans-img']"  src="~@/assets/community/3@2x.png" alt srcset>

        <div class="detail-panel" v-if="detail == 3" @click="toggleDetail(3)">
            <div class="detail-title">
              <p>嘉定镇街道文化体育服务中心</p>
            </div>
            <div class="detail-content">
              <div class="address-line detail-line">
                <img class="detail-icon" src="~@/assets/community/address_icon.png"/>
                <div class="detail-name">地址</div>
                <div class="detail-content">清河路196号</div>
              </div>
              <div class="com-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/com_icon.png"/>
                <div class="detail-name">所在社区</div>
                <div class="detail-content">梅园</div>
              </div>
              <div class="service-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/service_icon.png"/>
                <div class="detail-name">服务类型</div>
                <div class="detail-content">文化体育等服务</div>
              </div>
              <div class="distance-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/distance_icon.png"/>
                <div class="detail-name">步行距离</div>
                <div class="detail-content">515米</div>
              </div>
              <div class="phone-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/phone_icon.png"/>
                <div class="detail-name">电话</div>
                <div class="detail-content">59538041</div>
              </div>
            </div>
        </div>

      </div>

      <div v-if="show_building" v-bind:key="3" class="buildings b3" @click="onClickBuilding">


        <div v-if="tags && soccer || detail == 4" class="building-tag bt4"  @click="toggleDetail(4)">
          <img class="tag_type" src="~@/assets/community/soccer.png">
          <div class="tag_name">
            <p>儿童公园</p>
          </div>
          <div class="pulsating-circle">
            <div class="inner">
              <p>4</p>
            </div>
          </div>
        </div>
        <img class="bimg" :class="[ !soccer && detail != 4 && 'trans-img']" src="~@/assets/community/4@2x.png" alt srcset>

        <div class="detail-panel dp4" v-if="detail == 4" @click="toggleDetail(4)">
            <div class="detail-title">
              <p>儿童公园</p>
            </div>
            <div class="detail-content">
              <div class="address-line detail-line">
                <img class="detail-icon" src="~@/assets/community/address_icon.png"/>
                <div class="detail-name">地址</div>
                <div class="detail-content">梅园路226号</div>
              </div>
              <div class="com-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/com_icon.png"/>
                <div class="detail-name">所在社区</div>
                <div class="detail-content">梅园</div>
              </div>
              <div class="service-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/service_icon.png"/>
                <div class="detail-name">服务类型</div>
                <div class="detail-content">文化体育等服务</div>
              </div>
              <div class="distance-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/distance_icon.png"/>
                <div class="detail-name">步行距离</div>
                <div class="detail-content">515米</div>
              </div>
              <div class="phone-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/phone_icon.png"/>
                <div class="detail-name">电话</div>
                <div class="detail-content">59531576</div>
              </div>
            </div>
        </div>


      </div>

      <div v-if="show_building" v-bind:key="4" class="buildings b4" @click="onClickBuilding">

        <div v-if="tags && (soccer || detail == 5)" class="building-tag bt20"  @click="toggleDetail(5)">
          <img class="tag_type" src="~@/assets/community/soccer.png">
          <div class="tag_name">嘉定体育馆</div>
          <div class="pulsating-circle">
            <div class="inner">
              <p>5</p>
            </div>
          </div>
        </div>
        <img class="bimg"  :class="[ !soccer && detail != 5 && 'trans-img']"  src="~@/assets/community/5@2x.png" alt srcset>

        <div class="detail-panel" v-if="detail == 5" @click="toggleDetail(5)">
            <div class="detail-title">
              <p>嘉定体育馆</p>
            </div>
            <div class="detail-content">
              <div class="address-line detail-line">
                <img class="detail-icon" src="~@/assets/community/address_icon.png"/>
                <div class="detail-name">地址</div>
                <div class="detail-content">梅园路315号</div>
              </div>
              <div class="com-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/com_icon.png"/>
                <div class="detail-name">所在社区</div>
                <div class="detail-content">梅园</div>
              </div>
              <div class="service-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/service_icon.png"/>
                <div class="detail-name">服务类型</div>
                <div class="detail-content">文化体育等服务</div>
              </div>
              <div class="distance-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/distance_icon.png"/>
                <div class="detail-name">步行距离</div>
                <div class="detail-content">732米</div>
              </div>
              <div class="phone-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/phone_icon.png"/>
                <div class="detail-name">电话</div>
                <div class="detail-content">59529621</div>
              </div>
            </div>
        </div>

      </div>

      <div v-if="show_building" v-bind:key="5" class="buildings b5" @click="onClickBuilding">

        <div v-if="tags && elder || detail == 6" class="building-tag reverse bt5" @click="toggleDetail(6)">
          <img class="tag_type" src="~@/assets/community/care.png">
          <div class="tag_name">
            <p>嘉定镇街道综合为老</p>
            <p>服务中心乐龄分中心</p>
          </div>
          <div class="pulsating-circle">
            <div class="inner">
              <p>6</p>
            </div>
          </div>
        </div>

        <div class="detail-panel dp6" v-if="detail == 6" @click="toggleDetail(6)">
            <div class="detail-title">
              <p>嘉定镇街道综合为老</p>
              <p>服务中心乐龄分中心</p>
            </div>
            <div class="detail-content">
              <div class="address-line detail-line">
                <img class="detail-icon" src="~@/assets/community/address_icon.png"/>
                <div class="detail-name">地址</div>
                <div class="detail-content">梅园路226号</div>
              </div>
              <div class="com-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/com_icon.png"/>
                <div class="detail-name">所在社区</div>
                <div class="detail-content">梅园</div>
              </div>
              <div class="service-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/service_icon.png"/>
                <div class="detail-name">服务类型</div>
                <div class="detail-content">文化体育等服务</div>
              </div>
              <div class="distance-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/distance_icon.png"/>
                <div class="detail-name">步行距离</div>
                <div class="detail-content">515米</div>
              </div>
              <div class="phone-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/phone_icon.png"/>
                <div class="detail-name">电话</div>
                <div class="detail-content">59531576</div>
              </div>
            </div>
        </div>

        <div v-if="(tags && care) || detail == 7" class="building-tag bt6" @click="toggleDetail(7)">
          <img class="tag_type" src="~@/assets/community/care.png">
          <div class="tag_name">
            <p>小囡桥乐龄老年</p>
            <p>日间服务中心</p>
          </div>
          <div class="pulsating-circle">
            <div class="inner">
              <p>7</p>
            </div>
          </div>
        </div>
        <div class="detail-panel dp7" v-if="detail == 7" @click="toggleDetail(7)">
            <div class="detail-title">
              <p>小囡桥乐龄老年日间服务中心</p>
            </div>
            <div class="detail-content">
              <div class="address-line detail-line">
                <img class="detail-icon" src="~@/assets/community/address_icon.png"/>
                <div class="detail-name">地址</div>
                <div class="detail-content">塔城路440弄29号</div>
              </div>
              <div class="com-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/com_icon.png"/>
                <div class="detail-name">所在社区</div>
                <div class="detail-content">小囡桥</div>
              </div>
              <div class="service-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/service_icon.png"/>
                <div class="detail-name">服务类型</div>
                <div class="detail-content">老年人日间照料等</div>
              </div>
              <div class="distance-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/distance_icon.png"/>
                <div class="detail-name">步行距离</div>
                <div class="detail-content">674米</div>
              </div>
              <div class="phone-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/phone_icon.png"/>
                <div class="detail-name">电话</div>
                <div class="detail-content">39119231</div>
              </div>
            </div>
        </div>


        <div v-if="(tags && dinner) || detail == 8" class="building-tag bt7" @click="toggleDetail(8)">
          <img class="tag_type" src="~@/assets/community/dinner.png">
          <div class="tag_name">
            <p>嘉定镇街道乐龄</p>
            <p>综合型助餐点</p>
          </div>
          <div class="pulsating-circle">
            <div class="inner">
              <p>8</p>
            </div>
          </div>
        </div>
        <div v-if="tags" class="building-tag bt22 gov-tag" @click="toggleDetail(92)">
          <img class="tag_type" src="~@/assets/community/committee.png">
          <div class="tag_name">
            <p>小囡桥社区居委会</p>
          </div>
        </div>
        <img class="bimg"  :class="[ !elder && !dinner && detail != 6 && detail != 7 && detail != 8 && detail != 92 && 'trans-img']" src="~@/assets/community/8@2x.png" alt srcset>

        <div class="detail-panel dp7" v-if="detail == 92" @click="toggleDetail(92)">
            <div class="detail-title">
              <p>小囡桥社区居委会</p>
            </div>
            <div class="detail-content">
              <div class="address-line detail-line">
                <img class="detail-icon" src="~@/assets/community/address_icon.png"/>
                <div class="detail-name">地址</div>
                <div class="detail-content">塔城路440弄29号</div>
              </div>
              <div class="com-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/com_icon.png"/>
                <div class="detail-name">所在社区</div>
                <div class="detail-content">小囡桥</div>
              </div>
              <div class="service-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/service_icon.png"/>
                <div class="detail-name">服务类型</div>
                <div class="detail-content">居委会</div>
              </div>
              <div class="distance-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/distance_icon.png"/>
                <div class="detail-name">步行距离</div>
                <div class="detail-content">674米</div>
              </div>
              <div class="phone-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/phone_icon.png"/>
                <div class="detail-name">电话</div>
                <div class="detail-content">59526708</div>
              </div>
            </div>
        </div>
        <div class="detail-panel dp8" v-if="detail == 8" @click="toggleDetail(8)">
            <div class="detail-title">
              <p>嘉定镇街道乐龄</p>
              <p>综合型助餐点</p>
            </div>
            <div class="detail-content">
              <div class="address-line detail-line">
                <img class="detail-icon" src="~@/assets/community/address_icon.png"/>
                <div class="detail-name">地址</div>
                <div class="detail-content">塔城路440弄29号</div>
              </div>
              <div class="com-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/com_icon.png"/>
                <div class="detail-name">所在社区</div>
                <div class="detail-content">小囡桥</div>
              </div>
              <div class="service-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/service_icon.png"/>
                <div class="detail-name">服务类型</div>
                <div class="detail-content">老年助餐服务等</div>
              </div>
              <div class="distance-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/distance_icon.png"/>
                <div class="detail-name">步行距离</div>
                <div class="detail-content">674米</div>
              </div>
              <div class="phone-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/phone_icon.png"/>
                <div class="detail-name">电话</div>
                <div class="detail-content">39119231</div>
              </div>
            </div>
        </div>
      </div>

      <div v-if="show_building" v-bind:key="6" class="buildings b6" @click="onClickBuilding">

        <div v-if="(tags && consulting) || detail == 9" class="building-tag reverse bt8" @click="toggleDetail(9)">
          <img class="tag_type" src="~@/assets/community/consulting.png">
          <div class="tag_name">
            <p>嘉定镇街道计生</p>
            <p>服务站</p>
          </div>
          <div class="pulsating-circle">
            <div class="inner">
              <p>9</p>
            </div>
          </div>
        </div>

        <div class="detail-panel dp20" v-if="detail == 9" @click="toggleDetail(9)">
            <div class="detail-title">
              <p>嘉定镇街道计生服务站</p>
            </div>
            <div class="detail-content">
              <div class="address-line detail-line">
                <img class="detail-icon" src="~@/assets/community/address_icon.png"/>
                <div class="detail-name">地址</div>
                <div class="detail-content">塔城路432号</div>
              </div>
              <div class="com-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/com_icon.png"/>
                <div class="detail-name">所在社区</div>
                <div class="detail-content">小囡桥</div>
              </div>
              <div class="service-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/service_icon.png"/>
                <div class="detail-name">服务类型</div>
                <div class="detail-content">计生工作咨询服务</div>
              </div>
              <div class="distance-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/distance_icon.png"/>
                <div class="detail-name">步行距离</div>
                <div class="detail-content">762米</div>
              </div>
              <div class="phone-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/phone_icon.png"/>
                <div class="detail-name">电话</div>
                <div class="detail-content">59908730</div>
              </div>
            </div>
      </div>

        <div v-if="tags && red_crossing || detail == 10" class="building-tag bt9" @click="toggleDetail(10)">
          <img class="tag_type" src="~@/assets/community/red_crossing.png">
          <div class="tag_name">
            <p>嘉定镇街道红十字</p>
            <p>服务中心</p>
          </div>
          <div class="pulsating-circle">
            <div class="inner">
              <p>10</p>
            </div>
          </div>
        </div>

        <div class="detail-panel dp9" v-if="detail == 10" @click="toggleDetail(10)">
            <div class="detail-title">
              <p>嘉定镇街道红十字服务中心</p>
            </div>
            <div class="detail-content">
              <div class="address-line detail-line">
                <img class="detail-icon" src="~@/assets/community/address_icon.png"/>
                <div class="detail-name">地址</div>
                <div class="detail-content">塔城路432号</div>
              </div>
              <div class="com-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/com_icon.png"/>
                <div class="detail-name">所在社区</div>
                <div class="detail-content">小囡桥</div>
              </div>
              <div class="service-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/service_icon.png"/>
                <div class="detail-name">服务类型</div>
                <div class="detail-content">红十字相关服务</div>
              </div>
              <div class="distance-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/distance_icon.png"/>
                <div class="detail-name">步行距离</div>
                <div class="detail-content">762米</div>
              </div>
              <div class="phone-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/phone_icon.png"/>
                <div class="detail-name">电话</div>
                <div class="detail-content">59908730</div>
              </div>
            </div>
      </div>

        <div v-if="tags && doctor || detail == 11" class="building-tag bt10" @click="toggleDetail(11)">
          <img class="tag_type" src="~@/assets/community/doctor.png">
          <div class="tag_name">
            <p>小囡桥社区</p>
            <p>卫生服务站</p>
          </div>
          <div class="pulsating-circle">
            <div class="inner">
              <p>11</p>
            </div>
          </div>
        </div>

        <img class="bimg"  :class="[ !doctor && !consulting && !red_crossing && detail != 9 && detail != 10 && detail!= 11 && 'trans-img']" src="~@/assets/community/11@2x.png" alt srcset>

        <div class="detail-panel dp9" v-if="detail == 11" @click="toggleDetail(11)">
            <div class="detail-title">
              <p>小囡桥社区卫生服务站</p>
            </div>
            <div class="detail-content">
              <div class="address-line detail-line">
                <img class="detail-icon" src="~@/assets/community/address_icon.png"/>
                <div class="detail-name">地址</div>
                <div class="detail-content">塔城路432号</div>
              </div>
              <div class="com-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/com_icon.png"/>
                <div class="detail-name">所在社区</div>
                <div class="detail-content">小囡桥</div>
              </div>
              <div class="service-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/service_icon.png"/>
                <div class="detail-name">服务类型</div>
                <div class="detail-content">健康就医</div>
              </div>
              <div class="distance-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/distance_icon.png"/>
                <div class="detail-name">步行距离</div>
                <div class="detail-content">762米</div>
              </div>
              <div class="phone-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/phone_icon.png"/>
                <div class="detail-name">电话</div>
                <div class="detail-content">59908730</div>
              </div>
            </div>
      </div>

    </div>

      <div v-if="show_building" v-bind:key="7" class="buildings b7" @click="onClickBuilding">

        <div v-if="tags && government || detail == 12"  class="building-tag bt11" @click="toggleDetail(12)">
          <img class="tag_type" src="~@/assets/community/government.png">
          <div class="tag_name">
            <p>嘉定镇街道社区事</p>
            <p>务受理服务中心</p>
          </div>
          <div class="pulsating-circle">
            <div class="inner">
              <p>12</p>
            </div>
          </div>
        </div>

        <img class="bimg"  :class="[ !government && detail!=12 && 'trans-img']" src="~@/assets/community/12@2x.png" alt srcset>

        <div class="detail-panel dp10" v-show="detail == 12" @click="toggleDetail(12)">
            <div class="detail-title">
              <p>嘉定镇街道社区事务</p>
              <p>受理服务中心</p>
            </div>
            <div class="detail-content">
              <div class="address-line detail-line">
                <img class="detail-icon" src="~@/assets/community/address_icon.png"/>
                <div class="detail-name">地址</div>
                <div class="detail-content">塔城路360弄8号</div>
              </div>
              <div class="com-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/com_icon.png"/>
                <div class="detail-name">所在社区</div>
                <div class="detail-content">州桥</div>
              </div>
              <div class="service-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/service_icon.png"/>
                <div class="detail-name">服务类型</div>
                <div class="detail-content">劳动、民政、医保等各项为民服务</div>
              </div>
              <div class="distance-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/distance_icon.png"/>
                <div class="detail-name">步行距离</div>
                <div class="detail-content">847米</div>
              </div>
              <div class="phone-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/phone_icon.png"/>
                <div class="detail-name">电话</div>
                <div class="detail-content">59928106</div>
              </div>
            </div>
      </div>

      </div>

      <div v-if="show_building" v-bind:key="8" class="buildings b8" @click="onClickBuilding" >
        <div v-if="tags" class="building-tag bt121 gov-tag" @click="toggleDetail(93)">
          <img class="tag_type" src="~@/assets/community/committee.png">
          <div class="tag_name">
            <p>州桥社区居委会</p>
          </div>
        </div>
        <div v-if="tags && dinner || detail == 13" class="building-tag bt12" @click="toggleDetail(13)">
          <img class="tag_type" src="~@/assets/community/dinner.png">
          <div class="tag_name">
            <p>嘉定镇街道州桥</p>
            <p>社区分餐点</p>
          </div>
          <div class="pulsating-circle">
            <div class="inner">
              <p>13</p>
            </div>
          </div>
        </div>
        <img class="bimg" src="~@/assets/community/13@2x.png" alt srcset>
       <div class="detail-panel dp91" v-if="detail == 93" @click="toggleDetail(93)">
            <div class="detail-title">
              <p>州桥社区居委会</p>
            </div>
            <div class="detail-content">
              <div class="address-line detail-line">
                <img class="detail-icon" src="~@/assets/community/address_icon.png"/>
                <div class="detail-name">地址</div>
                <div class="detail-content">塔城路360弄8号</div>
              </div>
              <div class="com-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/com_icon.png"/>
                <div class="detail-name">所在社区</div>
                <div class="detail-content">州桥</div>
              </div>
              <div class="service-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/service_icon.png"/>
                <div class="detail-name">服务类型</div>
                <div class="detail-content">居委会</div>
              </div>
              <div class="distance-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/distance_icon.png"/>
                <div class="detail-name">步行距离</div>
                <div class="detail-content">847米</div>
              </div>
              <div class="phone-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/phone_icon.png"/>
                <div class="detail-name">电话</div>
                <div class="detail-content">59528998</div>
              </div>
            </div>
        </div>
        <div class="detail-panel dp11" v-if="detail == 13" @click="toggleDetail(13)">
            <div class="detail-title">
              <p>嘉定镇街道州桥</p>
              <p>社区分餐点</p>
            </div>
            <div class="detail-content">
              <div class="address-line detail-line">
                <img class="detail-icon" src="~@/assets/community/address_icon.png"/>
                <div class="detail-name">地址</div>
                <div class="detail-content">塔城路360弄8号</div>
              </div>
              <div class="com-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/com_icon.png"/>
                <div class="detail-name">所在社区</div>
                <div class="detail-content">州桥</div>
              </div>
              <div class="service-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/service_icon.png"/>
                <div class="detail-name">服务类型</div>
                <div class="detail-content">劳动、民政、医保等各项为民服务</div>
              </div>
              <div class="distance-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/distance_icon.png"/>
                <div class="detail-name">步行距离</div>
                <div class="detail-content">847米</div>
              </div>
              <div class="phone-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/phone_icon.png"/>
                <div class="detail-name">电话</div>
                <div class="detail-content">59928106</div>
              </div>
            </div>
        </div>

      </div>

      <div v-if="show_building" v-bind:key="9" class="buildings b9" @click="onClickBuilding">
        <div v-if="tags && science || detail == 14" class="building-tag bt13"  @click="toggleDetail(14)">
          <img class="tag_type" src="~@/assets/community/science.png">
          <div class="tag_name">
            <p>嘉定镇街道</p>
            <p>社区创新屋</p>
          </div>
          <div class="pulsating-circle">
            <div class="inner">
              <p>14</p>
            </div>
          </div>
        </div>
        <img class="bimg"  :class="[ !science && detail != 13 && detail != 14 && 'trans-img' ]" src="~@/assets/community/14@2x.png" alt srcset>

        <div class="detail-panel dp11" v-if="detail == 14" @click="toggleDetail(14)">
            <div class="detail-title">
              <p>嘉定镇街道</p>
              <p>社区创新屋</p>
            </div>
            <div class="detail-content">
              <div class="address-line detail-line">
                <img class="detail-icon" src="~@/assets/community/address_icon.png"/>
                <div class="detail-name">地址</div>
                <div class="detail-content">南大街272号</div>
              </div>
              <div class="com-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/com_icon.png"/>
                <div class="detail-name">所在社区</div>
                <div class="detail-content">州桥</div>
              </div>
              <div class="service-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/service_icon.png"/>
                <div class="detail-name">服务类型</div>
                <div class="detail-content">科普知识普及、科技体验与互动等</div>
              </div>
              <div class="distance-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/distance_icon.png"/>
                <div class="detail-name">步行距离</div>
                <div class="detail-content">898米</div>
              </div>
              <div class="phone-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/phone_icon.png"/>
                <div class="detail-name">电话</div>
                <div class="detail-content">59534853</div>
              </div>
            </div>
        </div>

      </div>

      <div v-if="show_building" v-bind:key="10" class="buildings b10" @click="onClickBuilding">
        <div v-if="tags && doctor || detail == 16" class="building-tag bt14"  @click="toggleDetail(16)">
          <img class="tag_type" src="~@/assets/community/doctor.png">
          <div class="tag_name">
            <p>嘉定镇街道社区</p>
            <p>卫生服务中心</p>
          </div>
          <div class="pulsating-circle">
            <div class="inner">
              <p>15</p>
            </div>
          </div>
        </div>
        <img class="bimg"  :class="[ !doctor && detail != 16 && 'trans-img']" src="~@/assets/community/15@2x.png" alt srcset>

        <div class="detail-panel dp12" v-if="detail == 16" @click="toggleDetail(16)">
            <div class="detail-title">
              <p>嘉定镇街道社区</p>
              <p>卫生服务中心</p>
            </div>
            <div class="detail-content">
              <div class="address-line detail-line">
                <img class="detail-icon" src="~@/assets/community/address_icon.png"/>
                <div class="detail-name">地址</div>
                <div class="detail-content">北大街128号</div>
              </div>
              <div class="com-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/com_icon.png"/>
                <div class="detail-name">所在社区</div>
                <div class="detail-content">叶池</div>
              </div>
              <div class="service-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/service_icon.png"/>
                <div class="detail-name">服务类型</div>
                <div class="detail-content">医院</div>
              </div>
              <div class="distance-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/distance_icon.png"/>
                <div class="detail-name">步行距离</div>
                <div class="detail-content">840米</div>
              </div>
              <div class="phone-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/phone_icon.png"/>
                <div class="detail-name">电话</div>
                <div class="detail-content">69530615</div>
              </div>
            </div>
        </div>


      </div>

      <div v-if="show_building" v-bind:key="11" class="buildings b11" @click="onClickBuilding">
        <div v-if="tags && dinner || detail == 17" class="building-tag bt15" @click="toggleDetail(17)">
          <img class="tag_type" src="~@/assets/community/dinner.png">
          <div class="tag_name">
            <p>嘉定镇街道</p>
            <p>叶池社区分餐点</p>
          </div>
          <div class="pulsating-circle">
            <div class="inner">
              <p>16</p>
            </div>
          </div>
        </div>

        <div v-if="tags" class="building-tag bt23 gov-tag" @click="toggleDetail(97)">
          <img class="tag_type" src="~@/assets/community/committee.png">
          <div class="tag_name">
            <p>叶池社区居委会</p>
          </div>
        </div>

        <img class="bimg"  :class="[ !elder && !dinner && detail != 17 && detail != 97 && 'trans-img']" src="~@/assets/community/16@2x.png" alt srcset>

        <div class="detail-panel dp12" v-if="detail == 17" @click="toggleDetail(17)">
            <div class="detail-title">
              <p>嘉定镇街道</p>
              <p>叶池社区分餐点</p>
            </div>
            <div class="detail-content">
              <div class="address-line detail-line">
                <img class="detail-icon" src="~@/assets/community/address_icon.png"/>
                <div class="detail-name">地址</div>
                <div class="detail-content">城中路171弄21号101室</div>
              </div>
              <div class="com-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/com_icon.png"/>
                <div class="detail-name">所在社区</div>
                <div class="detail-content">叶池</div>
              </div>
              <div class="service-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/service_icon.png"/>
                <div class="detail-name">服务类型</div>
                <div class="detail-content">老年助餐服务等</div>
              </div>
              <div class="distance-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/distance_icon.png"/>
                <div class="detail-name">步行距离</div>
                <div class="detail-content">496米</div>
              </div>
              <div class="phone-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/phone_icon.png"/>
                <div class="detail-name">电话</div>
                <div class="detail-content">59522446</div>
              </div>
            </div>
        </div>

        <div class="detail-panel dp92" v-if="detail == 97" @click="toggleDetail(97)">
            <div class="detail-title">
              <p>叶池居委会</p>
            </div>
            <div class="detail-content">
              <div class="address-line detail-line">
                <img class="detail-icon" src="~@/assets/community/address_icon.png"/>
                <div class="detail-name">地址</div>
                <div class="detail-content">城中路171弄21号101室</div>
              </div>
              <div class="com-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/com_icon.png"/>
                <div class="detail-name">所在社区</div>
                <div class="detail-content">叶池</div>
              </div>
              <div class="service-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/service_icon.png"/>
                <div class="detail-name">服务类型</div>
                <div class="detail-content">居委会</div>
              </div>
              <div class="distance-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/distance_icon.png"/>
                <div class="detail-name">步行距离</div>
                <div class="detail-content">496米</div>
              </div>
              <div class="phone-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/phone_icon.png"/>
                <div class="detail-name">电话</div>
                <div class="detail-content">59532175</div>
              </div>
            </div>
        </div>
      </div>

      <div v-if="show_building" v-bind:key="12" class="buildings b12" @click="onClickBuilding">
        <div v-if="(tags && book) || detail == 18" class="building-tag bt16" @click="toggleDetail(18)">
          <img class="tag_type" src="~@/assets/community/book.png">
          <div class="tag_name">
            <p>嘉定区图书馆</p>
          </div>
          <div class="pulsating-circle">
            <div class="inner">
              <p>17</p>
            </div>
          </div>
        </div>
        <div v-if="(tags && coffee) || detail == 19" class="building-tag bt17" @click="toggleDetail(19)">
          <img class="tag_type" src="~@/assets/community/book.png">
          <div class="tag_name">
            <p>我嘉书房教化</p>
            <p>（嘉定馆）</p>
          </div>
          <div class="pulsating-circle">
            <div class="inner">
              <p>18</p>
            </div>
          </div>
        </div>
        <img class="bimg"  :class="[ !book && !soccer && detail != 18 && detail != 19 && 'trans-img']" src="~@/assets/community/17_18@2x.png" alt srcset>


        <div class="detail-panel dp18" v-if="detail == 18" @click="toggleDetail(18)">
            <div class="detail-title">
              <p>嘉定区图书馆</p>
            </div>
            <div class="detail-content">
              <div class="address-line detail-line">
                <img class="detail-icon" src="~@/assets/community/address_icon.png"/>
                <div class="detail-name">地址</div>
                <div class="detail-content">清河路34弄40号</div>
              </div>
              <div class="com-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/com_icon.png"/>
                <div class="detail-name">所在社区</div>
                <div class="detail-content">叶池</div>
              </div>
              <div class="service-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/service_icon.png"/>
                <div class="detail-name">服务类型</div>
                <div class="detail-content">文化体育等服务</div>
              </div>
              <div class="distance-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/distance_icon.png"/>
                <div class="detail-name">步行距离</div>
                <div class="detail-content">577米</div>
              </div>
              <div class="phone-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/phone_icon.png"/>
                <div class="detail-name">电话</div>
                <div class="detail-content">31220098</div>
              </div>
            </div>
        </div>

        <div class="detail-panel dp19" v-if="detail == 19" @click="toggleDetail(19)">
            <div class="detail-title">
              <p>我嘉书房教化</p>
              <p>（嘉定馆）</p>
            </div>
            <div class="detail-content">
              <div class="address-line detail-line">
                <img class="detail-icon" src="~@/assets/community/address_icon.png"/>
                <div class="detail-name">地址</div>
                <div class="detail-content">清河路34弄49号附近</div>
              </div>
              <div class="com-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/com_icon.png"/>
                <div class="detail-name">所在社区</div>
                <div class="detail-content">叶池</div>
              </div>
              <div class="service-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/service_icon.png"/>
                <div class="detail-name">服务类型</div>
                <div class="detail-content">文化体育等服务</div>
              </div>
              <div class="distance-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/distance_icon.png"/>
                <div class="detail-name">步行距离</div>
                <div class="detail-content">636米</div>
              </div>
              <div class="phone-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/phone_icon.png"/>
                <div class="detail-name">电话</div>
                <div class="detail-content">36695555</div>
              </div>
            </div>
        </div>


      </div>

      <div v-if="show_building" v-bind:key="13" class="buildings b13" @click="onClickBuilding">
        <div v-if="(tags && dentist) || detail == 20" class="building-tag bt18" @click="toggleDetail(20)">
          <img class="tag_type" src="~@/assets/community/dentist.png">
          <div class="tag_name">
            <p>嘉定区牙病</p>
            <p>防治所</p>
          </div>
          <div class="pulsating-circle">
            <div class="inner">
              <p>19</p>
            </div>
          </div>
        </div>
        <img class="bimg"  :class="[ !doctor && detail != 20 && 'trans-img']" src="~@/assets/community/19@2x.png" alt srcset>

        <div class="detail-panel dp20" v-if="detail == 20" @click="toggleDetail(20)">
            <div class="detail-title">
              <p>嘉定区牙病防治所</p>
            </div>
            <div class="detail-content">
              <div class="address-line detail-line">
                <img class="detail-icon" src="~@/assets/community/address_icon.png"/>
                <div class="detail-name">地址</div>
                <div class="detail-content">北大街79号</div>
              </div>
              <div class="com-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/com_icon.png"/>
                <div class="detail-name">所在社区</div>
                <div class="detail-content">叶池</div>
              </div>
              <div class="service-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/service_icon.png"/>
                <div class="detail-name">服务类型</div>
                <div class="detail-content">健康就医</div>
              </div>
              <div class="distance-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/distance_icon.png"/>
                <div class="detail-name">步行距离</div>
                <div class="detail-content">673米</div>
              </div>
              <div class="phone-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/phone_icon.png"/>
                <div class="detail-name">电话</div>
                <div class="detail-content">59981255</div>
              </div>
            </div>
        </div>


      </div>

      <div v-if="show_building" v-bind:key="14" class="buildings b14" @click="onClickBuilding">
        <div v-if="tags" class="building-tag bt19 gov-tag" @click="toggleDetail(95)">
          <img class="tag_type" src="~@/assets/community/committee.png">
          <div class="tag_name">
            <p>花园弄社区</p>
            <p>我嘉·邻里中心</p>
          </div>
          <div class="pulsating-circle">
            <div class="inner">
              <p>20</p>
            </div>
          </div>
        </div>

        <div v-if="tags" class="building-tag bt21 gov-tag" @click="toggleDetail(94)">
          <img class="tag_type" src="~@/assets/community/committee.png">
          <div class="tag_name">
            <p>花园弄社区居委会</p>
          </div>
        </div>
        <img class="bimg" src="~@/assets/community/center.png" alt srcset>
        <div class="detail-panel dp7" v-if="detail == 94" @click="toggleDetail(94)">
            <div class="detail-title">
              <p>花园弄社区居委会</p>
            </div>
            <div class="detail-content">
              <div class="address-line detail-line">
                <img class="detail-icon" src="~@/assets/community/address_icon.png"/>
                <div class="detail-name">地址</div>
                <div class="detail-content">清河路109弄11号</div>
              </div>
              <div class="com-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/com_icon.png"/>
                <div class="detail-name">所在社区</div>
                <div class="detail-content">花园弄</div>
              </div>
              <div class="service-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/service_icon.png"/>
                <div class="detail-name">服务类型</div>
                <div class="detail-content">居委会</div>
              </div>
              <div class="distance-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/distance_icon.png"/>
                <div class="detail-name">步行距离</div>
                <div class="detail-content">0米</div>
              </div>
              <div class="phone-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/phone_icon.png"/>
                <div class="detail-name">电话</div>
                <div class="detail-content">59532175</div>
              </div>
            </div>
        </div>
        <div class="detail-panel dp6" v-if="detail == 95" @click="toggleDetail(95)">
            <div class="detail-title">
              <p>花园弄社区</p>
              <p>我嘉·邻里中心</p>
            </div>
            <div class="detail-content">
              <div class="address-line detail-line">
                <img class="detail-icon" src="~@/assets/community/address_icon.png"/>
                <div class="detail-name">地址</div>
                <div class="detail-content">清河路109弄11号</div>
              </div>
              <div class="com-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/com_icon.png"/>
                <div class="detail-name">所在社区</div>
                <div class="detail-content">花园弄</div>
              </div>
              <div class="service-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/service_icon.png"/>
                <div class="detail-name">服务类型</div>
                <div class="detail-content">邻里中心</div>
              </div>
              <div class="distance-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/distance_icon.png"/>
                <div class="detail-name">步行距离</div>
                <div class="detail-content">0米</div>
              </div>
              <div class="phone-line detail-line">
                <img class="detail-icon"  src="~@/assets/community/phone_icon.png"/>
                <div class="detail-name">电话</div>
                <div class="detail-content">59532175</div>
              </div>
            </div>
        </div>
      </div>
    </transition-group>

    <transition-group name="slide-fade">
      <div v-if="tags" class="tag tag1" v-bind:key="1">
        <span>城中路小学</span>
      </div>
      <div v-if="tags" class="tag tag2" v-bind:key="2">
        <span>罗宾森广场</span>
      </div>
      <div v-if="tags" class="tag tag3" v-bind:key="3">
        <span>嘉定商城</span>
      </div>
      <div v-if="tags" class="tag tag4"  v-bind:key="4">
        <img class="tag_type" src="~@/assets/community/bridge_icon.png">
        <p>州桥老街</p>
      </div>
      <div v-if="tags" class="tag tag7"  v-bind:key="7">
        <img class="tag_type" src="~@/assets/community/tower_icon.png">
        <p>法华塔</p>
      </div>
      <div v-if="tags" class="tag tag5" v-bind:key="5">
        <span>嘉定影剧院</span>
      </div>
      <div v-if="tags" class="tag tag6" v-bind:key="6">
        <span>博乐广场</span>
      </div>

    </transition-group>

    <transition-group name="slide-fade">

      <img v-if="show_building"  v-bind:key="1" class="base base1" src="~@/assets/community/base@2x.png" alt srcset>
      <img v-if="show_building" v-bind:key="2" class="base base2" src="~@/assets/community/base@2x.png" alt srcset>
      <img v-if="show_building" v-bind:key="3" class="base base3" src="~@/assets/community/base@2x.png" alt srcset>
      <img v-if="show_building" v-bind:key="8" class="base base4" src="~@/assets/community/base@2x.png" alt srcset>
      <img v-if="show_building" v-bind:key="9" class="base base5" src="~@/assets/community/base@2x.png" alt srcset>

      <img v-if="show_building" v-bind:key="4"  class="base bridge" src="~@/assets/community/bridge@2x.png" alt srcset>
      <img v-if="show_building" v-bind:key="10"  class="base tower" src="~@/assets/community/tower.png" alt srcset>

      <!-- <img v-if="show_building" v-bind:key="5" class="base tower" src="~@/assets/community/base.png" alt srcset> -->

      <img v-if="show_building" v-bind:key="6" class="base base6" src="~@/assets/community/base@2x.png" alt srcset>
      <img v-if="show_building" v-bind:key="7" class="base base7" src="~@/assets/community/base@2x.png" alt srcset>

    </transition-group>

    <!-- <transition name="slide-fade">
      <img v-if="tags"  class="pin" src="~@/assets/community/pin.png" alt srcset>
    </transition> -->


    </div>
  </div>
</template>

<script>
  document.getElementById("defaultOpen").click();
</script>

<style>
  @import '../../styles/community.css';
  @import '../../styles/community_anim.css';
  @import '../../styles/community_lowres.css';
</style>

<script>

var json = require("../../assets/data/poi.json");
var type_json = require("../../assets/data/type.json");

let timer1;
let timer2;
let timer3;
let timer4;
let timer5;

let timeoutTimer;

export default {
  name: "Community", // 社区
  data() {
    return {
      menu: false,
      show_building: false,
      tags: false,
      buildings: [],
      types: [],
      activetab: 1,

      doctor: false,
      course: false,
      soccer: false,
      elder: false,
      care: false,
      dinner: false,
      consulting: false,
      science: false,
      dentist: false,
      red_crossing: false,
      government: false,
      coffee: false,
      book: false,

      detail: -1,

      value: "no"
    };
  },
  beforeDestroy() {
    window.clearTimeout(timer1);
  },
  watch: {},
  computed: {
    // buildings() {
    //   return pois.buildings;
    // }
  },
  mounted() {
    this.buildings = json.buildings;
    this.types = type_json.types;

    console.log("types = " + JSON.stringify(this.types));

    timer1 = window.setTimeout(() => {
      this.menu = true;
      this.StartTimers();
    }, 300);

    timer2 = window.setTimeout(() => {
      this.show_building = true;
    }, 800);

    timer3 = window.setTimeout(() => {
      this.tags = true;
    }, 1300);

    timer4 = window.setTimeout(() => {
    }, 1300);

    timer5 = window.setTimeout(() => {
    }, 2800);
  },
  beforeDestroy() {
    timer1 && window.clearTimeout(timer1);
    timer2 && window.clearTimeout(timer2);
    timer3 && window.clearTimeout(timer3);
    timer4 && window.clearTimeout(timer4);
    timer5 && window.clearTimeout(timer5);
  },
  listContent(type) {
    // 传入每个组建对应名称
    this.$emit("listContent", type, true);
  },
  methods: {
    listContent(type) {
      // 传入每个组建对应名称
      this.$emit("listContent", type, true);
    },
    // Start timers.
    StartTimers() {
      timeoutTimer = window.setTimeout(() => {
        this.IdleTimeout();
      }, 10 * 60 * 1000);
    },
        // Reset timers.
    ResetTimers() {
        window.clearTimeout(timeoutTimer);
        this.StartTimers();
    },

    IdleTimeout() {
      console.log("Ring");
      window.location.reload()
    },
    onClickBuilding(e) {
      // const { pageX, pageY } = e
      // const $body = window.document.getElementsByTagName('body')[0]
      // $body.style.transformOrigin = `${pageX}px ${pageY}px`;
      // $body.style.transform = 'scale(1.4)'
    },
    handleClick(tab, event) {
      console.log(tab, event);
    },
    clearAll(){
      this.doctor = false
      this.course = false
      this.soccer = false
      this.dinner = false
      this.science = false
      this.dentist = false
      this.red_crossing = false
      this.government = false
      this.coffee = false
      this.book = false
      this.elder = false
      this.care = false
      this.consulting = false
    },
    showAll(){
      this.value = 'all'
      this.doctor = true
      this.course = true
      this.soccer = true
      this.dinner = true
      this.science = true
      this.dentist = true
      this.red_crossing = true
      this.government = true
      this.coffee = true
      this.book = true
      this.elder = true
      this.care = true
      this.consulting = true
    },
    showNothing(){
      this.value = 'no'
      this.doctor = false
      this.course = false
      this.soccer = false
      this.dinner = false
      this.science = false
      this.dentist = false
      this.red_crossing = false
      this.government = false
      this.coffee = false
      this.book = false
      this.elder = false
      this.care = false
      this.consulting = false
    },
    showDoctor(){
      this.clearAll();
      this.doctor = true;
      this.dentist = true;
      this.value = "doctor";
    },
    showCourse(){
      this.clearAll();
      this.value = "course";
      this.course = true;
    },
    showSoccer(){
      this.clearAll();
      this.value = "soccer";
      this.soccer = true;
      this.coffee = true;
      this.book = true;
    },
    showDinner(){
      this.clearAll();
      this.value = "dinner";
      this.dinner = true;
    },
    showScience(){
      this.clearAll();
      this.value = "science";
      this.science = true;
    },
    showDentist(){
      this.clearAll();
      this.value = "dentist";
      this.dentist = true;
    },
    showCrossing(){
      this.clearAll();
      this.value = "crossing";
      this.red_crossing = true;
    },
    showGovernment(){
      this.clearAll();
      this.value = "government";
      this.government = true;
    },
    showElder(){
      this.clearAll();
      this.value = "elder";
      this.elder = true;
    },
    showCare(){
      this.clearAll();
      this.value = "care";
      this.care = true;
      this.elder = true;
    },
    showConsulting(){
      this.clearAll();
      this.value = "consulting";
      this.consulting = true;
    },
    hideDetail(){
      console.log("detail set to -1");
      this.detail = -1;
    },

    toggleDetail(index){

      this.showNothing();

      if(this.detail == -1){
        this.detail = index;
      }
      else{
        this.detail = -1;
      }
      console.log("detail set to " + this.detail);

    }


  }
};

</script>