<template>
    <div class="home_main">

      <transition-group name="text-fade">
        <img v-if="text" class="logo" v-bind:key="1" src="~@/assets/home/logo.png" />
        <div v-if="text" v-bind:key="2" class="title-text">
          <h1>嘉定镇街道花园弄社区</h1>
          <h3>15分钟社区综合服务圈</h3>
        </div>
      </transition-group>

      <transition name="slide-fade">
        <div v-if="button" class="open-button" @click="showDistrict">
          开启
        </div>
      </transition>

      <transition-group name="district-fade">
        <img class="district" v-bind:key="1"  v-if="district" src="~@/assets/home/town.png"/>
        <img class="community-area" v-bind:key="2"  v-if="community" src="~@/assets/home/community.png" @click="hideDistrict"/>
      </transition-group>


      <transition name="community-fade">
        <!-- <img class="community" v-if="community" src="~@/assets/home/community.png" /> -->
      </transition>


    </div>
</template>

<script>

let timer1;
let timer2;
let timer3;
let timer4;
let timer5;


export default {
  name: "home", // 标题页
  data() {
    return {
      content: false,
      button: false,
      text: false,
      district: false,
      community: false,
    };
  },
  watch: {},
  computed: {

  },
  mounted() {
    timer1 = window.setTimeout(() => {
      this.content = true;
      this.button = true;
      this.text = true;
    }, 500);

  },
  beforeDestroy() {
    timer1 && window.clearTimeout(timer1);
    timer2 && window.clearTimeout(timer2);
    timer3 && window.clearTimeout(timer3);
    timer4 && window.clearTimeout(timer4);
    timer5 && window.clearTimeout(timer5);
  },
  listContent(type) {
    // 传入每个组建对应名称
    this.$emit("listContent", type, true);
  },
  methods: {
    listContent(type) {
      // 传入每个组建对应名称
      this.$emit("listContent", type, true);
    },
    onClickBuilding(e) {
      const { pageX, pageY } = e
      const $body = window.document.getElementsByTagName('body')[0]
      $body.style.transformOrigin = `${pageX}px ${pageY}px`;
      $body.style.transform = 'scale(1.4)'
    },
    showDistrict(){
      this.button = false;
      this.text = false;
      this.district = true;

      timer2 = window.setTimeout(() => {
        this.community = true;
      }, 2000);

    },
    hideDistrict(){
      this.district = false;
      this.community = false;

      timer4 = window.setTimeout(() => {
        this.listContent('community');
      }, 3000);
    }
  }
};

</script>

<style scoped>

@media screen and (min-width: 3000px) {

 .home_main {
    position: relative;
    /* position: relative;
    display: flex; */
    width: 3840px;
    height: 2160px;

    left: 0px;
    top: 0px;

    background-repeat: no-repeat;
    background-size: 100%;

    background: white;

    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .logo{

    position: absolute;
    top: 300px;
    left: 1350px;
    width: 1000px;

    text-align: center;
    align-items: center;
    text-align: center;
    /* background: tomato; */

    z-index: 1000;
  }

  .district{
    position: absolute;
    left: 826px;
    top: 16px;

    z-index: 100;
  }

  .community-area{
    position: absolute;
    left: 1480px;
    top: 310px;

    width: 1152px;
    height: 1050px;

    z-index: 101;
  }


  .title-text{

    position: absolute;
    top: 734px;
    left: 1252px;
    width: 1346px;

    text-align: center;
    align-items: center;
    text-align: center;
    /* background: tomato; */

    z-index: 1000;
  }

  .title-text h1{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 176px;
    font-size: 120px;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: #000000;
    line-height: 196px;

    z-index: inherit;
  }

  .title-text h3{
    width: 100%;
    height: 112px;
    font-size: 80px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #000000;
    line-height: 112px;

    z-index: inherit;
  }

  .open-button{

    position: absolute;

    width: 284px;
    height: 168px;

    left: 1774px;
    top: 1366px;

    background: #FF5353;
    box-shadow: 0px 7px 0px 0px #E23131;
    border-radius: 84px;

    color: white;
    font-family: PingFangSC-Semibold, PingFang SC;

    font-size: 80px;
    font-weight: 600;
    line-height: 168px;

    z-index: 1000;
  }

  .district{
    position: absolute;

    top: 0px;
    left: 1014px;

    width: 1886px;
    height: 2064px;

    z-index: 100;

  }





  .community{
    position: absolute;

    top: 0px;
    left: 1014px;

    width: 1886px;
    height: 2164px;

    z-index: 99;

  }


}

@media screen and (max-width: 2999px) {
  .home_main {
    position: relative;
    /* position: relative;
    display: flex; */
    width: 1924px;
    height: 1082px;

    left: 0px;
    top: 0px;

    background-repeat: no-repeat;
    background-size: 100%;

    background: white;

    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .logo{

    position: absolute;
    top: 150px;
    left: 675px;
    width: 500px;

    text-align: center;
    align-items: center;
    text-align: center;
    /* background: tomato; */

    z-index: 1000;
  }

  .title-text{

    position: absolute;
    top: 367px;
    left: 626px;
    width: 673px;

    text-align: center;
    align-items: center;
    text-align: center;
    /* background: tomato; */

    z-index: 1000;
  }

  .title-text h1{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 88px;
    font-size: 60px;
    font-family: PingFangSC-Semibold, PingFang SC;
    font-weight: 600;
    color: #000000;
    line-height: 98px;

    z-index: inherit;
  }

  .title-text h3{
    width: 100%;
    height: 56px;
    font-size: 40px;
    font-family: PingFangSC-Medium, PingFang SC;
    font-weight: 500;
    color: #000000;
    line-height: 56px;

    z-index: inherit;
  }

  .open-button{

    position: absolute;

    width: 142px;
    height: 84px;

    left: 887px;
    top: 633px;

    background: #FF5353;
    box-shadow: 0px 7px 0px 0px #E23131;
    border-radius: 42px;

    color: white;
    font-family: PingFangSC-Semibold, PingFang SC;

    font-size: 40px;
    font-weight: 600;
    line-height: 84px;

    z-index: 1000;
  }

  .district{
    position: absolute;

    top: 0px;
    left: 507px;

    width: 1093px;
    height: 1069px;

    z-index: 100;

  }

  .community-area{
    position: absolute;
    left: 775px;
    top: 170px;

    width: 576px;
    height: 525px;

    z-index: 101;
  }

}




/* 设置淡入动画函数 */
.slide-fade-enter-active {
  transition: all 0.5s ease;
  opacity: 1;
}
.slide-fade-leave-active {
  transition: all 0.5s ease;
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active for below version 2.1.8 */ {
  opacity: 0;
}


/* 设置淡入动画函数 */
.text-fade-enter-active {
  transition: all 0.5s ease;
  opacity: 1;
}
.text-fade-leave-active {
  transition: all 2s ease;
}
.text-fade-enter, .text-fade-leave-to
/* .slide-fade-leave-active for below version 2.1.8 */ {
  opacity: 0;
}

/* 设置淡入动画函数 */
.district-fade-enter-active {
  transition: all 1.5s ease;
  opacity: 1;
}
.district-fade-leave-active {
  transform: scale(3);
  transition: all 1.5s ease;
}
.district-fade-enter, .district-fade-leave-to
/* .slide-fade-leave-active for below version 2.1.8 */ {
  opacity: 0;
}

/* 设置淡入动画函数 */
.community-fade-enter-active {
  transition: all 1s ease;
  opacity: 1;
}
.community-fade-leave-active {
  transition: all 1s ease;
}
.community-fade-enter, .community-fade-leave-to
/* .slide-fade-leave-active for below version 2.1.8 */ {
  opacity: 0;
}


</style>
