<template>
  <div class="home-page" id='home-page'>
    <div id="content" class="content" ref="content" v-if="componentId !== 'home'">
      <div style="height: 100%; width: 100%;">
        <div style="height: 100%; width: 100%;" :is="componentId" @listContent="listContent"></div>
      </div>
    </div>
    <div v-else :is='componentId' @listContent="listContent"></div>
  </div>
</template>


<script>

import home from '@/components/pages/home'
import community from '@/components/pages/community'

export default {
  name: 'Main',
  components: {
    home,
    community,
  },

  data () {
    return {
      activeIndex: 'home',
      componentId: 'home',

      animateStatus: false,
    };
  },
  watch: {
    animateStatus: {
　　　　handler(newValue, oldValue) {
        if (newValue) {
          this.timer = setTimeout(() => {
            this.showBot = true
          }, 500);
        }
      },
      deep: true
    }
  },
  methods: {
    handleSelect (icon) {
      this.selectIcon = icon
      this.componentId = icon
    },
    listContent (type, animateStatus) {
      console.log(1,type)
      if (type === 'Report' || type == 'fkcg') {
        this.showReport = true
      } else {
        this.showReport = false
      }
      this.$nextTick(() => {
        this.animateStatus = animateStatus
        this.selectIcon = type
        this.componentId = type
      })
    },
    reportHandleSelect (item) {
      this.reportSelectIncon = item.icon
      this.componentId = item.text
    },
    // 返回首页
    backHome () {
      window.location.reload();
    },
    handleClose() {
        this.showDialog = false
    }
  }
}
</script>
<style scoped>

.home-page {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  background: white;
}

.content {
  /* background: url(~@/assets/mengbg.png) no-repeat center bottom; */
  width: 100%;
  height: 100%;
}


.return {
    position: absolute;
    left: 40;
    bottom: 37px;
}
.return img {
    cursor:pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

</style>
