@font-face{
  font-family: 'pingFangSC-Light';
  src: url('PingFang-Light.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'pingFangSC-Regular';
  src: url('PingFang-SC-Regular.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'compctbi';
  src: url('Compctbi.ttf');
  font-weight: normal;
  font-style: normal;
}
