<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
  export default {
    name: 'App'
  }
</script>

<style>
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  @media screen and (max-width: 3000px) {

    body {
      width: 1920px;
      height: 1080px;
      margin: 0;
      padding: 0;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background: white;
      transform: scale(1);
      transition: all .25s ease-in-out;
    }
  }


  @media screen and (min-width: 3000px) {

    body {
      width: 3840px;
      height: 2160px;
      margin: 0;
      padding: 0;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      background: white;
      transform: scale(1);
      transition: all .25s ease-in-out;
    }
  }

  #app {
    width: 100%;
    height: 100%;
  }
  .bg{ float: left;}
  .left{float: left;}

</style>
